
<h1>Listing Authors</h1>

<table>

<tr>
<th>First name</th>
<th>Last name</th>
<th>Year born</th>
<th>Books</th>
<th></th>
</tr>

<% @authors.each do |author| %>
<tr>
<td><%= author.first_name %></td>
<td><%= author.last_name %></td>
<td><%= author.year_born %></td>
<td>
<% author.books.each do |book| %>
    <%= book.title %>;
<% end %>
</td>
<td>
<%= link_to 'Show', author_path(author) %>
<% if user_signed_in? %><%= link_to 'Edit', edit_author_path(author) %><% end %>
<% if user_signed_in? %><%= link_to 'Destroy', author_path(author), method: :delete %><% end %>
</td>
</tr>
<% end %>

</table>

<p>
<% if user_signed_in? %><%= link_to 'New Author', new_author_path %><% end %>
</p>

