
<h1>Listing Authors</h1>

<table>

<tr>
<th>First name</th>
<th>Last name</th>
<th>Year born</th>
<th></th>
</tr>

<% @authors.each do |author| %>
<tr>
<td><%= author.first_name %></td>
<td><%= author.last_name %></td>
<td><%= author.year_born %></td>
<td>
<%= link_to 'Show', author_path(author) %>
<%= link_to 'Edit', edit_author_path(author) %>
<%= link_to 'Destroy', author_path(author), method: :delete %>
</td>
</tr>
<% end %>

</table>

<p>
<%= link_to 'New Author', new_author_path %>
</p>

