
<h1>New Author</h1>

<% if @author.errors.any? %>
<div style="background-color: #FF0000">
<p>
    Please fix the following errors:
</p>
<ul>
    <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
</ul>
</div>
<% end %>

<%= form_for @author do |f| %>

    <p>
    First name<br>
    <%= f.text_field :first_name %>
    </p>

    <p>
    Last name<br>
    <%= f.text_field :last_name %>
    </p>

    <p>
    Year born<br>
    <%= f.text_field :year_born %>
    </p>

    <p>
    <%= f.submit "Create Author" %>
    </p>

<% end %>

<p>
<%= link_to 'Back', authors_path %>
</p>
