
<p>
<b>First name:</b>
<%= @author.first_name %>
</p>

<p>
<b>Last name:</b>
<%= @author.last_name %>
</p>

<p>
<b>Year born:</b>
<%= @author.year_born %>
</p>

<p>
<% if user_signed_in? %><%= link_to 'Edit', edit_author_path(@author) %> |<% end %>
<%= link_to 'Back', authors_path %>
</p>

